<!-- 版权信息 -->
<!-- Set from config but allow override -->
{% set disqus = config.extra.disqus %} {% if page and page.meta and page.meta.disqus is string %} {% set disqus =
page.meta.disqus
%} {% endif %}
{% set copyright = config.extra.copyright %} {% if page and page.meta and page.meta.copyright is string %} {% set
copyright = page.meta.copyright
%} {% endif %}
{% set authors = 'danerlt' %} {% if page and page.meta and page.meta.author is string %} {% set authors =
page.meta.author
%} {% endif %}
<hr>
<blockquote class="page-copyright">
  <span><i class="md-icon">{% include ".icons/material/wrench.svg" %}</i>本页面最近更新：</span><span
    class="facts_modified"></span>，<a class="edit_history">更新历史</a><br>
  <span><i class="md-icon">{% include ".icons/material/copyright.svg" %}</i>本页面的全部内容在 <strong>{{ copyright }}</strong>
    协议之条款下提供，附加条款亦可能应用</span>
</blockquote>

<!-- 评论系统 -->

<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<!-- Insert generated snippet here -->
<script src="https://giscus.app/client.js" data-repo="danerlt/notes-commonts" data-repo-id="R_kgDOK9YxVQ"
  data-category="Announcements" data-category-id="DIC_kwDOK9YxVc4Cb-Sn" data-mapping="pathname" data-strict="0"
  data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="preferred_color_scheme"
  data-lang="zh-CN" crossorigin="anonymous" async>
  </script>


<!-- Synchronize Giscus theme with palette -->
<script>
  var giscus = document.querySelector("script[src*=giscus]")

  // Set palette on initial load
  var palette = __md_get("__palette")
  if (palette && typeof palette.color === "object") {
    var theme = palette.color.scheme === "slate"
      ? "transparent_dark"
      : "light"

    // Instruct Giscus to set theme
    giscus.setAttribute("data-theme", theme)
  }

  // Register event handlers after documented loaded
  document.addEventListener("DOMContentLoaded", function () {
    var ref = document.querySelector("[data-md-component=palette]")
    ref.addEventListener("change", function () {
      var palette = __md_get("__palette")
      if (palette && typeof palette.color === "object") {
        var theme = palette.color.scheme === "slate"
          ? "transparent_dark"
          : "light"

        // Instruct Giscus to change theme
        var frame = document.querySelector(".giscus-frame")
        frame.contentWindow.postMessage(
          { giscus: { setConfig: { theme } } },
          "https://giscus.app"
        )
      }
    })
  })
</script>